# Created by https://www.gitignore.io/api/ansible,vagrant

### Ansible ###
*.retry
ansible-provisioner/roles/

### Vagrant ###
# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.logs

### Vagrant Patch ###
*.box


# End of https://www.gitignore.io/api/ansible,vagrant
